// ref: https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// ~ input

input {
  keyboard {
    xkb {
      // ref: xkeyboard-config(7)
      layout "us,ee,ru"
      variant "colemak_dh_iso,,ruu"
      options "compose:rctrl,grp:win_space_toggle"
      // file "~/.config/keymap.xkb"
    }
    track-layout "window"
    numlock
  }

  touchpad {
    tap
    accel-speed 0.25
    drag true
    // wish the timeout here was configurable
    drag-lock
    dwt
    dwtp
    natural-scroll
    scroll-factor 2.0
  }

  mouse {
    natural-scroll
  }

  trackpoint {
    natural-scroll
  }

  workspace-auto-back-and-forth
  warp-mouse-to-focus
  focus-follows-mouse // max-scroll-amount="0%"
}

// ~ output

output "eDP-1" {
  off
}

// ~ layout

layout {
  gaps 24

  focus-ring {
    // off
    width 4
    active-gradient from="hotpink" to="palevioletred" angle=210 relative-to="workspace-view"
  }

  border {
    off
    width 4
    active-color "#ffc87f"
    inactive-color "#505050"
    active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
    inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  shadow {
    on
    // draw-behind-window true
    softness 20
    spread 2
    offset x=8 y=8
    color "#00000099"
  }

  tab-indicator {
    gap -10
    position "bottom"
    gaps-between-tabs 5
  }

  // struts {
  //   left 4
  //   right 4
  //   top 8
  //   bottom 4
  // }

  preset-column-widths {
    proportion 0.25
    proportion 0.33
    proportion 0.50
    proportion 0.66
    proportion 0.75
    proportion 1.00
  }

  preset-window-heights {
    proportion 0.25
    proportion 0.33
    proportion 0.50
    proportion 0.66
    proportion 0.75
    proportion 1.00
  }

}

// ~ other

// prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
  hide-when-typing
  hide-after-inactive-ms 3000
}

// TODO
environment {
}

// ~ animations

// TODO
animations {
  slowdown 2.0
}

// ~ rules

// terminal opacity
window-rule {
  match app-id="kitty"
  opacity 0.95
}

// telegram opacity
window-rule {
  match app-id=r#"^org\.telegram\.desktop$"#
  exclude title="^Media viewer$"

  opacity 0.95
  draw-border-with-background false
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id=r#"firefox$"# title="^Pilt-pildis$"
  open-floating true
}

// Try open the Chrome picture-in-picture player as floating by default.
window-rule {
  match title="Pilt pildis"
  open-floating true
}

// emulate window tags
window-rule {
  match app-id="\\+float"
  open-floating true
}

// block notifications from screencasts
layer-rule {
  match namespace="notification"
  match namespace="swaync-control-center"
  block-out-from "screencast"
}

// Albert launcher
window-rule {
  match title="Albert" app-id=""
}

// swayimg
window-rule {
  match app-id="swayimg"
  open-floating true
  focus-ring {
    off
  }
  border {
    off
  }
  shadow {
    off
  }
  max-height 600
  max-width 1200
}

// ~ binds

// TODO
// pgup+pgdn for workspace switching/moving?

binds {

  // ~ essential

  Mod+Q { close-window; }
  Mod+Shift+E { quit; }

  // ~ programs

  Mod+Return { spawn "kitty" "-1"; }
  Mod+Shift+Return { spawn "kitty" "-1" "--class" "kitty +float"; }

  Mod+R { spawn "albert" "toggle"; }
  Mod+Shift+R { spawn "fuzzel"; }

  // ~ hardware controls

  Mod+Shift+F10 { power-off-monitors; }

  XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  F1                   allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-" "--limit" "1.5"; }
  F2                   allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-" "--limit" "1.5"; }
  XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+" "--limit" "1.5"; }
  F3                   allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+" "--limit" "1.5"; }
  XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
  F4                   allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
  XF86AudioPause       allow-when-locked=true { spawn "playerctl" "play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn "playerctl" "stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
  XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }
  Mod+XF86AudioPrev    allow-when-locked=true { spawn "playerctl" "position" "10-"; }
  Mod+XF86AudioNext    allow-when-locked=true { spawn "playerctl" "position" "10+"; }

  // ~ window state

  // fullscreen is kinda broken in the sense it doesn't restore previous column setup 🫠
  // it really just expels the window, maximizes it geometrically and sets internal fullscreen state
  Mod+F { fullscreen-window; }
  Mod+Shift+F { toggle-windowed-fullscreen; }

  Mod+P { toggle-window-floating; }
  Mod+Shift+P { switch-focus-between-floating-and-tiling; }

  Mod+B { toggle-window-rule-opacity; }

  // ~ focus change

  // broken because doesn't update previous window when, say, a window was closed
  // e.g. open W1, open W2, open W3, close W3 → bind won't toggle between W2 and W1
  Mod+A { focus-window-previous; }

  Mod+Left { focus-column-left-or-last; }
  Mod+Right { focus-column-right-or-first; }

  Mod+Up { focus-window-up; }
  Mod+Down { focus-window-down; }

  Mod+Tab { focus-workspace-down; }
  Mod+Shift+Tab { focus-workspace-up; }

  // this one would only be useful with indexed workspace switching though
  Mod+Grave { focus-workspace-previous; }

  // ~ movement
  // for movement left/right/up/down:
  // shift: act on a window
  // alt: act on a column
  // TODO: will probably need a script that'd dispatch to either tiled or floating window movement

  Mod+Shift+Left { swap-window-left; }
  Mod+Shift+Right { swap-window-right; }

  Mod+Alt+Left { move-column-left; }
  Mod+Alt+Right { move-column-right; }

  Mod+Shift+Up { move-window-up-or-to-workspace-up; }
  Mod+Shift+Down { move-window-down-or-to-workspace-down; }

  Mod+Alt+Up { move-column-to-workspace-up; }
  Mod+Alt+Down { move-column-to-workspace-down; }

  Mod+BracketLeft { consume-window-into-column; }
  Mod+BracketRight { expel-window-from-column; }

  Mod+Shift+BracketRight { consume-or-expel-window-right; }
  Mod+Shift+BracketLeft { consume-or-expel-window-left; }

  // column state

  Mod+W { toggle-column-tabbed-display; }

  // i fail to understand what's the difference between center-column and center-window
  Mod+C { center-column; }

  // there doesn't seem to be any difference between window and column width
  Mod+Comma { switch-preset-window-width; }
  Mod+Period { switch-preset-window-height; }
  Mod+Shift+Period { reset-window-height; }
  Mod+Slash { maximize-column; }
  Mod+Alt+Slash { expand-column-to-available-width; }

  // ~ TODO


}
