// meant to be used with Phocus GTK theme or something similar

$border_radius: 10px;
$bg: black;
$fg: white;
$accent: hotpink;

// ~ some base styles

window.background {
  background: none;
}

#bar {
  background: $bg;
  border-radius: $border_radius;
  // margin has to be set here otherwise shadows don't work properly
  margin: 8px 8px 8px 8px;
  box-shadow: 0px 0px 3px 1px black;
}

button,
label {
  color: $fg;
  font-size: 11px;
  font-family: "sans";
}

tooltip {
  background: $bg;
  border-radius: $border_radius;

  * {
    font-size: 14px;
  }
}

scale {
  contents trough highlight {
    background: $fg;
  }

  contents trough slider {}
}

.slider slider {
  background: $bg;
  box-shadow: 0px 0px 1px 2px $fg;
}

// ~ ~ the bar

box#start {
  margin-left: 5px;
}

box#end {
  margin-right: 5px;
}

// ~ start widgets

.workspaces {

  .item>label {
    padding: 0px 3px 0px 3px;
    border-radius: 100%;
    font-weight: bold;
  }

  .item:hover>label {
    background: rgb(55, 55, 55);
  }

  .item:not(.focused):not(.urgent):hover>label {
    box-shadow: 0px 0px 0px 3px rgb(55, 55, 55);
  }

  .item.focused>label {
    box-shadow: 0px 0px 0px 3px rgba($accent, 0.8);
  }

  .item.urgent:not(.focused)>label {
    box-shadow: 0px 0px 0px 3px rgba(orange, 0.8);
  }

}

.hyprscroller-mode {
  font-size: 14px;
}

.bindmode {
  font-weight: bold;
  color: $accent;
  margin-bottom: 1px;
}

.hyprscroller-mode,
.bindmode {
  margin-left: 3px;
  padding: 0px 3px 0px 3px;
}

// ~ center widgets

// ~ end widgets

.swaync-state {
  margin-left: 8px;
  margin-right: 6px;
  font-size: 16px;
}

// ~ ~ popups

.popup {
  background: $bg;
  border-radius: $border_radius;
  padding: 10px;

  margin: 6px 6px 6px 6px;
  box-shadow: 0px 0px 3px 2px $bg;
}

// ~ music

.popup-music {

  .title .icon,
  .title .label {
    font-size: 14px;
  }

  .controls * {
    margin: 0px 4px 0px 4px;
  }
}

// ~ clock and calendar

.popup-clock {
  .calendar-clock {
    font-size: 2.0em;
    padding-bottom: 0.1em;
  }

  .calendar .header {
    border-top: 1px solid rgba($fg, 0.1);
    font-size: 1.5em;
  }

  .calendar:selected {
    background: $accent;
  }
}
