// meant to be used with Phocus GTK theme or something similar

$border_radius: 10px;


// ~ some base styles

window.background {
  background: none;
}

#bar {
  background: black;
  border-radius: $border_radius;
  // TODO try handle it via ironbar config
  margin: 8px 12px 6px 12px;
  box-shadow: 0px 0px 3px 1px black;
}

button,
label {
  color: white;
  font-size: 11px;
  font-family: "sans";
}

tooltip {
  background-color: black;
  border-radius: $border_radius;

  * {
    font-size: 14px;
  }
}

scale {
  contents trough highlight {
    background: white;
  }

  contents trough slider {}
}

.slider slider {
  background: black;
  box-shadow: 0px 0px 1px 2px white;
}

// ~ ~ the bar

// ~ start

box#start {
  margin-left: 5px;
}

.workspaces {

  .item>label {
    padding: 0px 3px 0px 3px;
    border-radius: 100%;
    font-weight: bold;
  }

  .item:not(.focused):not(.urgent):hover>label {
    box-shadow: 0px 0px 0px 3px rgba(pink, 0.8);
  }

  .item.focused>label {
    box-shadow: 0px 0px 0px 3px rgba(hotpink, 0.8);
  }

  .item.urgent>label {
    box-shadow: 0px 0px 0px 3px rgba(orange, 0.8);
  }

}

.hyprscroller-mode {
  font-size: 14px;
}

.bindmode {
  font-weight: bold;
  color: hotpink;
  margin-bottom: 1px;
}

.hyprscroller-mode,
.bindmode {
  margin-left: 3px;
  padding: 0px 3px 0px 3px;
}

// ~ center

// ~ end

box#end {
  margin-right: 5px;
}

// ~ ~ popups

.popup {
  background-color: black;
  border-radius: $border_radius;
  padding: 10px;

  margin: 6px 6px 6px 6px;
  box-shadow: 0px 0px 3px 2px black;
}

// ~ music

.popup-music {

  .title .icon,
  .title .label {
    font-size: 14px;
  }

  .controls * {
    margin: 0px 4px 0px 4px;
  }
}

// ~ clock and calendar

.popup-clock {
  .calendar-clock {
    font-size: 2.0em;
    padding-bottom: 0.1em;
  }

  .calendar .header {
    border-top: 1px solid rgba(white, 0.1);
    font-size: 1.5em;
  }

  .calendar:selected {
    background-color: hotpink;
  }
}