// meant to be used with a black, flat GTK theme

$border_radius: 10px;

$bg: black;
$fg: white;
$accent: hotpink;
$accent_dark: crimson;
$hover: rgba(55, 55, 55, 0.8);
$shadow: rgba(0, 0, 0, 0.4);

$widget_icon_size: 16px;

// ~ base styles

window.background {
  background: none;
}

#bar {
  background: $bg;
  border-radius: $border_radius;
  // margin has to be set here otherwise shadows don't work properly
  margin: 8px 8px 8px 8px;
  box-shadow: 0px 0px 4px 1px $shadow;
}

button,
label {
  font-size: 12px;
}

tooltip {
  background: $bg;
  border-radius: $border_radius;
  box-shadow: 0px 0px 4px 1px $shadow;

  * {
    font-size: 14px;
  }
}

scale.slider {
  trough {
    background: $hover;

    slider {
      min-width: 12px;
      min-height: 12px;
      background: $accent_dark;
    }
  }

  &.horizontal trough {
    slider {
      margin: -5px 0px -5px 0px;
    }

    highlight {
      background: linear-gradient(to right, $accent, $accent_dark);
    }
  }

  &.vertical trough {
    slider {
      margin: 0px -5px 0px -5px;
    }

    highlight {
      background: linear-gradient(to top, $accent, $accent_dark);
    }
  }
}

// ~ ~ the bar

box#start {
  margin-left: 5px;
}

box#end {
  margin-right: 5px;
}

// ~ start widgets

.workspaces {
  .item {
    margin: 0px -2px 0px -2px;

    >label {
      font-weight: bold;
      border-radius: 100%;
    }

    &:hover>label {
      background: $hover;
    }

    &:not(.focused):not(.urgent):hover>label {}

    &.focused>label {
      outline: 2px solid $accent;
      outline-offset: -2px;
    }

    &.urgent:not(.focused)>label {
      border: 2px solid orange;
      outline: 2px solid orange;
      outline-offset: -2px;
    }
  }
}

.hyprscroller-mode {
  font-size: 15px;
}

.bindmode {
  font-weight: bold;
  color: $accent;
  margin-bottom: 1px;
}

.hyprscroller-mode,
.bindmode {
  margin-left: 3px;
  padding: 0px 3px 0px 3px;
}

// ~ center widgets

// ~ end widgets

// bluetooth

.bluetooth label {
  font-size: $widget_icon_size;
}

// kinda hacky but there's no way to distinguish between the icon and the following text, it's all one label
.bluetooth.connected label {
  font-size: 12px;
}

.bluetooth.disabled label {
  color: grey;
}

// tray

.tray .item {
  margin: 0px -3px 0px -3px;
}

// notifications

.notifications {
  margin: 0px 0px 0px -15px;

  .button {
    margin-right: -10px;

    label {
      font-size: $widget_icon_size;
    }
  }

  .count {
    font-size: 12px;
    padding-top: 6px;
  }
}

// keyboard

.keyboard {
  margin: 0px -15px 0px -15px;
}

// ~ ~ popups

popover {
  // margin: 6px 18px 6px 6px;
}

.popup {
  background: $bg;
  border-radius: $border_radius;
  padding: 10px 10px 10px 10px;
  margin: 6px 6px 6px 6px;
  box-shadow: 3px 3px 3px 2px $bg;
}

// ~ music

.popup-music {

  .title .icon,
  .title .label {
    font-size: 16px;
  }

  .artist .icon,
  .artist .label {
    font-size: 14px;
  }

  .controls button {
    &:hover {
      background: $hover;
    }

    label {
      font-size: 18px;
    }
  }
}

// ~ bluetooth
.popup-bluetooth {
  .devices viewport box .device {
    margin: 10px 0px 10px 0px;
  }

  .header .switch {
    margin-right: 10px;
  }
}

// ~ clock and calendar

/*
.popup-clock .calendar header > button,
                                stack.month > label,
                                button,
                                button,
                                stack.year > label,
                                button

.popup-clock .calendar grid > label.day-name,
                              label.week-number,
                              label.day-number.other-month,
                              label.day-number,
                              label.day-number.today,
                              label.day-number:selected
*/

.popup-clock {
  .calendar-clock {
    font-size: 28px;
    padding-bottom: 4px;
  }

  .calendar {
    label {
      border-radius: 8px;
      font-size: 14px;
    }

    grid label {
      &:selected {
        outline: 2px solid $accent;
        outline-offset: -2px;
      }

      &.today {
        background: $accent;
        color: $fg;
      }
    }

    // border between month and year buttons
    header>button:nth-child(4) {
      border-left: 1px solid rgba($fg, 0.2);
      padding-left: 4px;
      margin-left: 4px;
    }
  }
}

// extra

// quick hack for https://github.com/JakeStanger/ironbar/issues/1244
.volume {
  min-width: 40px;
}

.popup-bluetooth {
  // workaround for https://github.com/JakeStanger/ironbar/issues/1186
  min-height: 200px;
}